@import './reset';
@import './variable';
@import './fonts';
@import './mixin';
@import './swiper';
@import './theme';
@import './spacing';

html {
  height: 100%;
}

body {
  background-color: var(--bg-general);
  font-family: $general-font;
  position: relative;
  min-height: 100%;
}


