main {
  padding-bottom: calc($height-footer + 80px);

  @include small {
    padding-bottom: calc($height-footer + 64px);
  }

  @include media(mobile, large-mobile) {
    padding-bottom: calc(260px + 64px);
  }
}
